<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>About - Travlr Getaways Web Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							{{#each sections}}
							<h1>About</h1>
							<br><br>
							{{#each body1}}
							<h2>{{title}}</h2>
							<p style="white-space: pre-line;">{{description}}</p>
							{{/each}}
							<div class="ads">
								<br><br><br>
								{{#each ads}}
								<h2>{{title}}</h2>
								<p>{{description}}</p>
								{{/each}}
							</div>
							<br><br><br>
							{{#each body2}}
							<h2>{{title}}</h2>
							<p>{{description}}</p>
							{{/each}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>

</html>