<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>News - Travlr Getaways Website Template</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{>header}} <!-- Header is included as a partial -->

            <div id="contents">
                <div class="box">
                    <div>
                        <div id="news" class="body">
                            <!-- Sidebar for Latest News -->
                            <div class="sidebar">
                                <h3>Latest News</h3>
                                <ul>
                                    {{#each sidebar.latestNews}}
                                        <li><a href="news.html">{{this.title}}</a></li>
                                    {{/each}}
                                </ul>

                                <h3>Vacation Tips</h3>
                                <ul>
                                    {{#each sidebar.vacationTips}}
                                        <li><a href="news.html">{{this.title}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>

                            <!-- Main News Article -->
                            <div>
                                <h1>{{mainArticle.title}}</h1>
                                <img src="{{mainArticle.image}}" alt="Img">
                                <h2>{{mainArticle.subtitle}}</h2>
                                <span class="time">{{mainArticle.date}}<br>by: {{mainArticle.author}}</span>
                                
                                {{#each mainArticle.content}}
                                    <p>{{this.content}}</p>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}} <!-- Footer is included as a partial -->
    </div>
</body>
</html>
